html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}
/* ----------- nav ----------- */
.navbar {
  height: 8vh;
}

.navbar-toggler {
  border: none;
  color: #fff;
}

.navbar-fixed-top.scrolled {
  background-color: #909497 !important;
  transition: background-color 200ms linear;
}

/*----------Container----------*/
.container-fluid, .container {
  padding-left: 24px;
  padding-right: 24px;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}


/* ----------- Hero ----------- */
.main-carousel{
  z-index: -1;
  background-image: url("images/andrew-buchanan-GBzGMm8io_I-unsplash.jpg");
  width: 100vw;
  min-height: 610px;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
  top: 0;
  background-attachment: fixed;
}

.intro-message {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  padding-left: 20px;
  padding-right: 20px;

}

.intro-message {
  padding-top: 160px;
  position: fixed;

}

.intro-message h3 {
  margin-bottom: 1em;
}

.githubbtn a {
  color: #fff;
  text-decoration: none;
  padding-right: 1px;

}

.githubbtn:hover a {
  color: #909497;
  text-decoration: none;
  padding-right: 1px;


}


/*-----------Content------------*/
.content {
  z-index: 2;
  position: relative;

}

/*-----------a link------------*/
a:hover {
  text-decoration: none;
}

/*-----------thumbnails------------*/

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

span.date {
  float: right;
}
